html {
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cdc4fd;
    padding-top: 80px;
}

.navbar {
    width: 100%;
    height: 70px;
    background-color: #3F2986;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 3px 10px rgba(45, 20, 90, 0.3);
}

.logo {
    color: white;
    font-family: 'Allura';
    font-size: 40px;
}


h1 {
    font-family: 'Allura';
    font-size: 140px;
    position: relative;
    bottom: 90px;
    color: #3F2986;
    text-shadow: 1px 1px 2px rgba(255, 253, 253, 0.55);
    cursor: default;
}

.icones {
    display: flex;
    gap: 40px;
    position: relative;
    bottom: 200px;
}

.elemento {
    width: 200px;
    height: 200px;
    background: radial-gradient(
        circle at center,
        #8f6bd1 30%,
        #5a2eaa 70%,
        #3d167d 100%
    );
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.elemento h1 {
    color: white;
    font-family: 'Fredoka';
    font-size: 40px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.55);
    margin: 0;
    position: relative;
    top: 40px;
    right: 65px;
}

.elemento h2 {
    color: white;
    font-family: 'Fredoka';
    font-size: 100px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.55);
    margin: 0;
    position: relative;
    top: 15px;
}

.elemento h3 {
    color: white;
    font-family: 'Fredoka';
    font-size: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.55);
    margin: 0;
}

.elemento h4 {
    color: white;
    font-family: 'Fredoka';
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.55);
    margin: 0;
    margin-bottom: 50px;
}

.rutenio {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    cursor: default;
}

p {
    font-size: 10px;
    font-family: 'Sour Gummy';
    font-weight: 900;
    width: 600px;
    position: relative;
    left: 60px;
    bottom: 190px;
    margin: 0;
    cursor: default;
}

p a {
    text-decoration: none;
    cursor: pointer;
    color: #5a2eaa;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 80px;
    width: 1100px;
    position: relative;
    bottom: 220px;
    left: 0;
}

.container::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 60px;
    height: 2300px;
    border-left: 5px dotted #2d2449;
}

.um,
.dois,
.tres,
.quatro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 60px;
}

.um h5,
.dois h5,
.tres h5,
.quatro h5,
.cinco h5,
.seis h5 {
    font-family: 'Cherry Bomb One';
    font-weight: 300;
    font-size: 35px;
    width: 500px;
    margin-bottom: 10px;
    position: relative;
    right: 60px;
    color: #3F2986;
    text-shadow: 1px 2px 3px rgba(45, 20, 90, 0.3);
    text-align: center;
}

/* PRIMEIRO TÓPICO */

.um {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
}

.um .parUm {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.um .parUm p {
    font-family: 'Sofadi One';
    font-weight: 900;
    font-size: 15px;
    text-indent: 30px;
    text-align: justify;
    width: 390px;
    position: static;
    margin: 0 0 10px 0;
}

.um img {
    width: 300px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
    margin: 10px 0;
    margin-left: 35px;
}

.um p {
    font-size: 10px;
    font-family: 'Sour Gummy';
    font-weight: 900;
    width: 330px;
    position: static;
    margin-left: 20px;
    cursor: default;
    text-align: center;
}

.um p a {
    text-decoration: none;
    cursor: pointer;
    color: #5a2eaa;
}

/* SEGUNDO TÓPICO */

.dois {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
}

.dois .parDois {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.dois .parDois p {
    font-family: 'Sofadi One';
    font-weight: 900;
    font-size: 15px;
    text-indent: 30px;
    text-align: justify;
    width: 260px;
    position: static;
    margin: 0 0 10px 0;
}

.dois img {
    width: 100px;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
    margin: 10px 0;
    margin-left: 35px;
    position: relative;
    left: 240px;
    bottom: 280px;
}

.dois p {
    font-size: 10px;
    font-family: 'Sour Gummy';
    font-weight: 900;
    width: 390px;
    position: relative;
    bottom: 270px;
    left: -10px;
    cursor: default;
    text-align: center;
}

.dois p a {
    text-decoration: none;
    cursor: pointer;
    color: #5a2eaa;
}

/* TERCEIRO TÓPICO */

.tres {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    margin-top: 2px;
    position: relative;
    bottom: 350px;
}

.tres .parTres {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.tres .parTres p {
    font-family: 'Sofadi One';
    font-weight: 900;
    font-size: 15px;
    text-indent: 30px;
    text-align: justify;
    width: 260px;
    position: static;
    margin: 0 0 10px 0;
}

.tres .parTres p:nth-child(2) {
    width: 370px;
}

.tres img {
    width: 100px;
    height: 130px;
    border-radius: 20px;
    object-fit: cover;
    margin: 10px 0;
    margin-left: 35px;
    position: relative;
    left: 240px;
    bottom: 245px;
}

.tres p {
    font-size: 10px;
    font-family: 'Sour Gummy';
    font-weight: 900;
    width: 390px;
    position: relative;
    top: -140px;
    left: -10px;
    cursor: default;
    text-align: center;
}

.tres p a {
    text-decoration: none;
    cursor: pointer;
    color: #5a2eaa;
}

/* QUARTO TÓPICO */

.quatro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    bottom: 360px;
}

.quatro table {
    font-family: 'Sofadi One';
    font-size: 15px;
    border-collapse: collapse;
    width: 500px;
    position: relative;
    right: 60px;
}

.quatro th,
.quatro td {
    border: 3px solid #3F2986;
    padding: 8px 15px;
    text-align: left;
}

.quatro td {
    font-weight: 900;
    font-size: 15px;
}


.quatro th {
    background-color: #8f6bd1;
    color: white;
    text-align: center;
}

/* QUINTO TÓPICO */

.cinco {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 830px;
    left: 70px;
    width: 100%;
}

.cinco .parCinco {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.cinco .parCinco h6 {
    font-family: 'Fredoka';
    font-size: 20px;
    margin: 20px 0 10px 10px;
    color: #3F2986;
}

.cinco .parCinco h6 i {
    font-size: 20px;
    margin-right: 8px;
    color: #ffcb0f;
    text-shadow: 1px 1px 2px rgba(45, 20, 90, 0.3);
}

.cinco .parCinco p {
    font-family: 'Sofadi One';
    font-weight: 900;
    font-size: 15px;
    text-align: justify;
    width: 360px;
    position: static;
    margin: 0 0 10px 0;
}

.cinco img {
    width: 300px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
    margin: 5px 0;
    margin-left: 35px;
}

.cinco p {
    font-size: 10px;
    font-family: 'Sour Gummy';
    font-weight: 900;
    width: 370px;
    position: static;
    margin-left: -7px;
    margin-top: 10px;
    cursor: default;
    text-align: center;
}

.cinco p a {
    text-decoration: none;
    cursor: pointer;
    color: #5a2eaa;
}

/* SEXTO TÓPICO */

.seis {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 830px;
    right: -100px;
    width: 45%;
}

.seis .parSeis {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-left: 10px;
}

.seis .parSeis h6 {
    font-family: 'Fredoka';
    font-size: 20px;
    margin: 20px 0 10px 10px;
    color: #3F2986;
}

.seis .parSeis h6 i {
    font-size: 20px;
    margin-right: 8px;
    color: #ffcb0f;
    text-shadow: 1px 1px 2px rgba(45, 20, 90, 0.3);
}

.seis .parSeis p {
    font-family: 'Sofadi One';
    font-weight: 900;
    font-size: 15px;
    text-align: justify;
    width: 360px;
    position: static;
    margin: 0 0 10px 0;
}

.seis img {
    width: 300px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
    margin: 5px 0;
    margin-left: 35px;
}

.seis p {
    font-size: 10px;
    font-family: 'Sour Gummy';
    font-weight: 900;
    width: 370px;
    position: static;
    margin-left: -7px;
    margin-top: 10px;
    cursor: default;
    text-align: center;
}

.seis p a {
    text-decoration: none;
    cursor: pointer;
    color: #5a2eaa;
}

.fontes {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 300px;
    height: 160px;
    padding: 20px;
    background-color: #8c79cc;
    border-radius: 20px;
    justify-content: center;
    box-shadow: 2px 3px 8px rgba(45, 20, 90, 0.3);
    position: relative;
    left: 340px;
    top: 600px;
}

.fontes h5 {
    font-family: 'Cherry Bomb One';
    font-weight: 300;
    font-size: 35px;
    width: 250px;
    position: relative;
    bottom: 75px;
    color: #3F2986;
    text-shadow: 1px 2px 3px rgba(45, 20, 90, 0.3);
    text-align: center;
}

.fontes a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5741a8;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    font-family: 'Fredoka';
    font-size: 20px;
    font-weight: 600;
    box-shadow: 2px 2px 5px rgba(45, 20, 90, 0.3);
    transition: 0.2s;
    position: relative;
    bottom: 140px;
}

.fontes a:hover {
    background-color: #49368c;
    transform: scale(1.1);
}

.rodape {
    width: 100%;
    min-height: 180px;
    background-color: #3F2986;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 700px;
    padding: 30px 0;
    box-sizing: border-box;
    box-shadow: 0 -5px 15px rgba(63, 41, 134, 0.2);
}

.grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.grupo h2 {
    margin: 0;
    font-family: 'Fredoka';
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
}

.perfil {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: rgba(227, 198, 255, 0.25);
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 2px 4px 10px rgba(63, 41, 134, 0.2);
}

.professores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.prof {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: rgba(227, 198, 255, 0.25);
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 2px 4px 10px rgba(63, 41, 134, 0.2);
}

.perfil img,
.prof img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(255, 233, 162);
    box-shadow: 2px 3px 8px rgba(63, 41, 134, 0.3);
}

.dados {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dados p {
    width: auto;
    position: static;
    margin: 0;
    font-family: 'Fredoka';
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-align: left;
    text-shadow: 1px 2px 3px rgba(63, 41, 134, 0.3);
}
